USE [master]
GO
/****** Object:  Database [HabeckTurismo]    Script Date: 07/02/2022 02:56:21 ******/
CREATE DATABASE [HabeckTurismo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HabeckTurismo', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERDEV2019\MSSQL\DATA\HabeckTurismo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HabeckTurismo_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERDEV2019\MSSQL\DATA\HabeckTurismo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HabeckTurismo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HabeckTurismo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 07/02/2022 02:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 07/02/2022 02:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id_C] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[cpf] [nvarchar](max) NOT NULL,
	[endereco] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id_C] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destinos]    Script Date: 07/02/2022 02:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destinos](
	[Id_D] [int] IDENTITY(1,1) NOT NULL,
	[Cidade] [nvarchar](max) NOT NULL,
	[Estado] [nvarchar](max) NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
	[PrecoDiaria] [float] NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Destinos] PRIMARY KEY CLUSTERED 
(
	[Id_D] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viagens]    Script Date: 07/02/2022 02:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viagens](
	[Id_V] [int] IDENTITY(1,1) NOT NULL,
	[DataIda] [nvarchar](max) NOT NULL,
	[DataVolta] [nvarchar](max) NOT NULL,
	[Diarias] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[DestinoId] [int] NOT NULL,
 CONSTRAINT [PK_Viagens] PRIMARY KEY CLUSTERED 
(
	[Id_V] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Viagens_ClienteId]    Script Date: 07/02/2022 02:56:21 ******/
CREATE NONCLUSTERED INDEX [IX_Viagens_ClienteId] ON [dbo].[Viagens]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Viagens_DestinoId]    Script Date: 07/02/2022 02:56:21 ******/
CREATE NONCLUSTERED INDEX [IX_Viagens_DestinoId] ON [dbo].[Viagens]
(
	[DestinoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Viagens]  WITH CHECK ADD  CONSTRAINT [FK_Viagens_Clientes_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id_C])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Viagens] CHECK CONSTRAINT [FK_Viagens_Clientes_ClienteId]
GO
ALTER TABLE [dbo].[Viagens]  WITH CHECK ADD  CONSTRAINT [FK_Viagens_Destinos_DestinoId] FOREIGN KEY([DestinoId])
REFERENCES [dbo].[Destinos] ([Id_D])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Viagens] CHECK CONSTRAINT [FK_Viagens_Destinos_DestinoId]
GO
USE [master]
GO
